[Unit]
Description=Begin program to process new captures when they are dumped
After=multi-user.target

[Service]
ExecStart=/home/pi/PhotoBooth/build/photobooth_process live capt0000.jpg output 
WorkingDirectory=/home/pi/PhotoBooth/build

[Install]
WantedBy=multi-user.target
